@model MyProject.Views.ViewModels.CategoryAndSubcategoryDataViewModel
@{
    ViewBag.Title = "NewCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Category</h2>

@using (Html.BeginForm("Create", "Categories"))
{

<div style="margin-left:30%;">
    <div class="form-group">
        @Html.LabelFor(k => k.Kategorija.Naziv)
        @Html.TextBoxFor(k => k.Kategorija.Naziv, new { @class = "form-control" })
        @Html.ValidationMessageFor(k => k.Kategorija.Naziv, "", new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(k => k.Kategorija.IDKategorija)
    <button class="btn btn-primary" type="submit">Add new category</button>
</div>    
}