@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron">
    <h2>Marko Galiman</h2>

    <address>
        Student at Algebra University College<br />
        Ilica 242, 10000, Zagreb<br />
    </address>

    <address>
        <strong>E-Mail:</strong> <a href="mailto:mgaliman8@gmail.com">mgaliman8@gmail.com</a><br />
    </address>
</div>