@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RWA Project</h1>
    <p class="lead">ASP.NET application for CRUD operations in SQL database. Creating complex MVC architecture and in use of AJAX technology in creating complex views in the MVC web application.</p>
    <p><a href="https://www.algebra.hr/visoko-uciliste/en/studij/undergraduate-professional-program/software-engineering/lecture-plan/development-of-web-applications/3204" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>